.avatarButton1,
.avatarButton2,
.avatarButton3,
.avatarButton4 {
  width: 50px;
  height: 50px;
  outline: 0;
  border-radius: 100px;
  border: 0px;
  cursor: pointer;

  &.active {
    border: 2px solid $mainColor2;
  }
}

.avatarButton1 {
  background: no-repeat center/100% $avatar-1;
}

.avatarButton2 {
  background: no-repeat center/100% $avatar-2;
}

.avatarButton3 {
  background: no-repeat center/100% $avatar-3;
}

.avatarButton4 {
  background: no-repeat center/100% $avatar-4;
}