.guyCreatorPage {
	background: linear-gradient($mainColor1, $mainColor2);
	min-height: 100vh;
	height: 100%;
	position: relative;
	left: 100%;
	width: 100%;
	@include allTransition(.35s);
	// overflow-x: hidden;
	// overflow-y: auto;

	&--visible {
		left: 0%;
	}

	.mainPageButtonCol {
		justify-content: flex-start;
    flex-direction: row;
    display: flex;
	}

	.mainPageBtn {
		margin-top: 30px;
		margin-left: 30px;
	}

	.creatorResult {
		position: relative;

		.eachGuy {
			color: white;
			font-size: 15px;
			cursor: default;
	
			.avatar {
				width: 50px;
				height: 50px;
			}
			
			// > div:not(.readMore) {
			// 	overflow-x: auto;
			// 	overflow-y: hidden;
			// }
	
			.editBtn {
				background-color: transparent;
				border: 2px solid green;
				padding: 7px 15px;
				cursor: pointer;
				color: green;
				font-weight: 800;
				@include allTransition(.15s);
	
				&:hover {
					border: 2px solid rgb(0, 189, 0);
					color: rgb(0, 189, 0);
				}
			}
	
			.deleteBtn {
				background-color: transparent;
				border: 2px solid red;
				padding: 7px 15px;
				cursor: pointer;
				color: red;
				font-weight: 800;
				@include allTransition(.15s);
	
				&:hover {
					border: 2px solid rgb(255, 75, 75);
					color: rgb(255, 75, 75);
				}
			}
		}

		.editGuy {
			position: fixed;
			top: 30%;
			left: 0;
			right: 0;
			z-index: 11;
			background-color: $mainColor1;
			box-shadow: 0 0 5px 5px $mainColor2;
			width: 40%;
			margin: 0 auto;
		}
	}


	.guyForm {
		padding: 20px 0;
		position: relative;

		.closeBtn {
			position: absolute;
			right: 20px;
			top: 20px;
			font-weight: 800;
			font-size: 18px;
			cursor: pointer;
			color: red;
		}

		.inputContainer {
			position: relative;
			width: 200px;
			margin: 8px auto;

			&--description {
				width: 300px;
				max-width: 90%;
			}

			label {
				position: absolute;
				left: 50%;
				top: 30%;
				transform: translateX(-50%);
				@include allTransition(.15s);
				font-size: 20px;
				cursor: text;
			}

			input, textarea {
				padding: 15px 10px 15px 10px;
				width: 100%;
				border-radius: 3px;
				border: 3px solid transparent;
				@include allTransition(.30s);
				font-size: 15px;
				resize: none;
	
				&:focus + label, &:valid + label {
					top: 7px;
    			font-size: 12px;
				}

				&:focus {
					border: 3px solid $mainColor2;
				}
	
				&[type="submit"] {
					cursor: pointer;
				}
			}
		}

		.submitButton {
			border-radius: 50px;
			border: 2px solid $mainColor4;
			padding: 8px 15px;
			background-color: $mainColor3;
			cursor: pointer;
			font-size: 15px;
			@include allTransition(.12s);
			color: white;
			margin: 7px 0 0;

			&:hover {
				border: 2px solid white;
			}
		}

		.editButton {
			border-radius: 2px;
		}
	}
}