.guyCreatorPage {
	background: linear-gradient(#1e1a71, #5351e0);
	height: 100vh;
	position: absolute;
	left: 100%;
	width: 100vw;
	transition: .35s left ease-in-out;

	&--visible {
		left: 0%;
	}

	.mainPageButtonCol {
		justify-content: flex-start;
    flex-direction: row;
    display: flex;
	}

	.mainPageBtn {
		margin-top: 30px;
		margin-left: 30px;
	}

	.creatorListResults {
		color: white;
		font-size: 15px;
		cursor: default;

		.green {
			color: rgb(0, 114, 0);
			cursor: pointer;
			font-weight: 600;
		}

		.red {
			color: red;
			cursor: pointer;
			font-weight: 600;
		}
	}

	.guyForm {
		input {
			margin-right: 10px;
			padding: 15px 15px;

			&[type="submit"] {
				cursor: pointer;
			}
		}

		.row {
			margin: 10px 0;
		}
	}
}