.mainPage {
	width: 100vw;
	height: 100vh;
	background: linear-gradient(#1e1a71, #5351e0);
	position: absolute;
	right: 100%;
	transition: .35s right ease-in-out;
    
	&--visible {
		right: 0%;
	}

	.titleRow {
		color: white;
    height: 100px;
		letter-spacing: 2px;
    text-align: center;
    margin: 50px 0;
		
		h1 {
			font-size: 60px;
			font-weight: 400;
			margin-bottom: 5px;
		}

		h2 {
			font-size: 30px;
			font-weight: 100;
			letter-spacing: -1px;
		}
	}

	.creatorButtonCol {
		justify-content: flex-end;
    flex-direction: row;
    display: flex;
	}

	.creatorBtn {
		margin-top: 30px;
		margin-right: 30px;
	}

	.resultsElement {
		color: white;
		font-size: 15px;
	}
}