.trash_icon {
    width: 32px;
    height: 32px;
    cursor: pointer;
    margin-bottom: -5px;
    transition: all .15s ease-in-out;

    &:hover {
        transform: scale(1.2);

    }
}

.edit_icon {
    width: 23px;
    height: 23px;
    cursor: pointer;
    margin-bottom: -1px;
    transition: all .15s ease-in-out;

    &:hover {
        transform: scale(1.2);

    }
}