.results {
  margin: 20px;

  .filters {
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    
    .filterButton {
      outline: 0;
      border: 2px solid $mainColor1;
      background-color: $mainColor2;
      height: 40px;
      width: 120px;
      cursor: pointer;

      &--1 {
        border-top-left-radius: 10px;
        border-bottom-left-radius: 10px;
      }

      &--2 {
        border-left: 0px;
        border-right: 0px;
      }

      &--3 {
        border-top-right-radius: 10px;
        border-bottom-right-radius: 10px;
      }

      &.active {
        background-color: $mainColor3;
      }
    }
  }

  .readMore {
    position: relative;
    cursor: pointer;

    .description {
      width: 300px;
      min-height: 100px;
      background-color: $mainColor1;
      padding: 15px 10px 10px 10px;
      border: 2px solid $mainColor2;
      border-radius: 5px;
      position: absolute;
      top: 20px;
      right: 0;
      color: white;
      text-align: left;
      z-index: 10;

      .closeButton {
        color: red;
        font-size: 18px;
        font-weight: 800;
        width: 18px;
        position: absolute;
        top: 5px;
        right: 5px;
        @include allTransition(.15s);

        &:hover {
          transform: scale(1.1);
        }
      }
    }
  }
}