@media (max-width: 1024px) {
  .guyCreatorPage {
    .creatorResult {
      .editGuy {
        width: 60%;
      }
    }
  }
}

@media (max-width: 767px) {

  .mainPage {

    .creatorBtn {
      margin-top: 10px;
      margin-right: 10px;
      font-size: 12px;
      padding: 10px 25px;

      &:hover {
        border: 2px solid white;
      }
    }
    
    .titleRow {
      margin: 20px 0;
      letter-spacing: 0px;
  
      h1 {
        font-size: 38px;
      }
  
      h2 {
        font-size: 20px;
      }
    }

    .maciek {
      box-shadow: 0px 0px 10px 4px rgba(0, 134, 0, .308);
      margin: 30px auto;
    }
  }

  .guyCreatorPage {
    .mainPageBtn {
      margin-top: 10px;
      margin-left: 20px;
      font-size: 12px;
      padding: 10px 25px;

      &:hover {
        border: 2px solid white;
      }
    }

    .creatorResult {
      .editGuy {
        width: 70%;
      }
    }
  }


  .eachGuy {
    width: 50%;
    margin: 0 auto;
    box-shadow: 0 0 10px 4px $mainColor2;
    padding: 15px 0;
    margin-bottom: 35px;

    > div {
      margin-bottom: 5px;
    }
  }
}

@media (max-width: 450px) {

  .guyCreatorPage {
    .creatorResult {
      .editGuy {
        top: 15%;
        width: 90%;
      }
    }
  }

  .eachGuy {
    width: 80%;
  }

  .results {
    .filters {
      .filterButton {
        width: 85px;
      }
    }
  }
}