.creatorBtn,
.mainPageBtn {
	border: 3px solid transparent;
	background-color: $mainColor3;
	color: white;
	font-size: 15px;
	font-weight: bold;
	padding: 15px 50px;
	cursor: pointer;
	@include allTransition(.25s);


	&:hover {
		border: 3px solid white;
		box-shadow: 3px 3px 10px -2px black;
	}
}