@import url('https://fonts.googleapis.com/css?family=Poppins:100,400');

@import './styles/flexboxgrid.css';
@import './styles/Reset.scss';
@import './styles/MainPage.scss';
@import './styles/GuyCreator.scss';
@import './styles/SiteItems.scss';

body {
    font-family: 'Poppins', sans-serif;
    overflow: hidden;
}

%transition {
    transition: all 0.15s ease-in-out;
}