@mixin allTransition($time) {
    transition: all $time ease-in-out;
}

$mainColor1: #AA9739;	// Main Primary color */
$mainColor2: #FFF0AA;
$mainColor3: #D4C26A;
$mainColor4: #806D15;
$mainColor5: #554600;

$avatar-1: url('./img/avatar-female1.png');
$avatar-2: url('./img/avatar-female2.png');
$avatar-3: url('./img/avatar-male1.png');
$avatar-4: url('./img/avatar-male2.png');


@import url('https://fonts.googleapis.com/css?family=Poppins:100,400');

@import './styles/flexboxgrid.css';
@import './styles/Reset.scss';
@import './styles/MainPage.scss';
@import './styles/GuyCreator.scss';
@import './styles/AvatarChoice.scss';
@import './styles/SiteItems.scss';
@import './styles/Results.scss';
@import './styles/hover.css';

body {
    font-family: 'Poppins', sans-serif;
    overflow-y: auto;
    overflow-x: hidden;
}
